<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EarthquakeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link id="leaflet-css" type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'index.tsx' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
